body {
  background-color: #f8f9fa;
  color: #212529;
  transition: background-color 0.4s, color 0.4s;
}

.dark-mode {
  background-color: #121212 !important;
  color: #f8f9fa !important;
}

.dark-mode .card {
  background-color: #1e1e1e !important;
  color: #f8f9fa !important;
}

.dark-mode .alert {
  background-color: #842029 !important;
  color: #fff !important;
}

.dark-mode h2,
.dark-mode h4,
.dark-mode h5,
.dark-mode span {
  color: #f8f9fa !important;
}

.dark-mode footer {
  color: #ccc !important;
}

button {
  transition: all 0.3s;
}

.dark-mode button {
  background-color: #333 !important;
  color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}
